In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("/Users/prakhar/Desktop/sorted crop data 2/01.xlsx")

In [3]:
df.head()

,State_Name,District_Name,Crop,Area,Production,prod/area,rainfall,temp,Ph
0,Tamil Nadu,NAMAKKAL,Arecanut,626.0,25.0,0.03994,1000.499,35.00000,5.5
1,Assam,KAMRUP METRO,Arecanut,675.0,91.0,0.13481,1001.685,35.00000,5.5
2,Tamil Nadu,KRISHNAGIRI,Arecanut,32.0,5.0,0.15625,1001.953,34.00000,5.5
3,Tamil Nadu,PERAMBALUR,Arecanut,63.0,11.0,0.1746,1002.183,33.66667,5.5
4,Assam,CACHAR,Arecanut,4520.0,858.0,0.18982,1002.373,33.16667,5.5

In [4]:
df.shape

(193873, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193873 entries, 0 to 193872
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     193873 non-null  object
 1   District_Name  193873 non-null  object
 2   Crop           193873 non-null  object
 3   Area           193873 non-null  float64
 4   Production     193873 non-null  float64
 5   prod/area      193873 non-null  object
 6   rainfall       193873 non-null  object
 7   temp           193873 non-null  float64
 8   Ph             193873 non-null  float64
dtypes: float64(4), object(5)
memory usage: 13.3+ MB

In [6]:
df.dropna()

,State_Name,District_Name,Crop,Area,Production,prod/area,rainfall,temp,Ph
0,Tamil Nadu,NAMAKKAL,Arecanut,626.0,25.0,0.03994,1000.499,35.00000,5.5
1,Assam,KAMRUP METRO,Arecanut,675.0,91.0,0.13481,1001.685,35.00000,5.5
2,Tamil Nadu,KRISHNAGIRI,Arecanut,32.0,5.0,0.15625,1001.953,34.00000,5.5
3,Tamil Nadu,PERAMBALUR,Arecanut,63.0,11.0,0.1746,1002.183,33.66667,5.5
4,Assam,CACHAR,Arecanut,4520.0,858.0,0.18982,1002.373,33.16667,5.5
...,...,...,...,...,...,...,...,...,...
193868,Punjab,SANGRUR,Wheat,285000.0,1567000.0,5.49825,764.9474,25.00000,6.1
193869,Haryana,SONIPAT,Wheat,162264.0,894000.0,5.50954,765.2862,24.00000,6.0
193870,Haryana,PANIPAT,Wheat,86807.0,483000.0,5.56407,766.922,23.00000,6.0
193871,Haryana,KARNAL,Wheat,171771.0,975000.0,5.67616,770.2849,27.00000,6.1
193872,Punjab,MOGA,Wheat,117000.0,873000.0,7.46154,770,26.00000,6.2

In [7]:
df.isnull().sum()

State_Name       0
District_Name    0
Crop             0
Area             0
Production       0
prod/area        0
rainfall         0
temp             0
Ph               0
dtype: int64

# MODEL

In [8]:
x = df.drop(columns='Crop')
y = df['Crop']

In [9]:
x

,State_Name,District_Name,Area,Production,prod/area,rainfall,temp,Ph
0,Tamil Nadu,NAMAKKAL,626.0,25.0,0.03994,1000.499,35.00000,5.5
1,Assam,KAMRUP METRO,675.0,91.0,0.13481,1001.685,35.00000,5.5
2,Tamil Nadu,KRISHNAGIRI,32.0,5.0,0.15625,1001.953,34.00000,5.5
3,Tamil Nadu,PERAMBALUR,63.0,11.0,0.1746,1002.183,33.66667,5.5
4,Assam,CACHAR,4520.0,858.0,0.18982,1002.373,33.16667,5.5
...,...,...,...,...,...,...,...,...
193868,Punjab,SANGRUR,285000.0,1567000.0,5.49825,764.9474,25.00000,6.1
193869,Haryana,SONIPAT,162264.0,894000.0,5.50954,765.2862,24.00000,6.0
193870,Haryana,PANIPAT,86807.0,483000.0,5.56407,766.922,23.00000,6.0
193871,Haryana,KARNAL,171771.0,975000.0,5.67616,770.2849,27.00000,6.1
193872,Punjab,MOGA,117000.0,873000.0,7.46154,770,26.00000,6.2

In [10]:
y

0         Arecanut
1         Arecanut
2         Arecanut
3         Arecanut
4         Arecanut
            ...
193868       Wheat
193869       Wheat
193870       Wheat
193871       Wheat
193872       Wheat
Name: Crop, Length: 193873, dtype: object

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = .02)

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, classification_report



# Define the columns to be one-hot encoded (assuming they are categorical)
categorical_cols = ['State_Name', 'District_Name']  # Adding our categorical column names here

# Preprocessing steps for numerical and categorical data
numeric_transformer = StandardScaler()
categorical_transformer = OneHotEncoder(handle_unknown='ignore', sparse=False)

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, X_train.select_dtypes(include=['int64', 'float64']).columns),
        ('cat', categorical_transformer, categorical_cols)
    ])

In [13]:
# Create a pipeline with preprocessing and Random Forest Classifier
model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('classifier', RandomForestClassifier(n_estimators=100, random_state=42))])

In [14]:
# Fit the model
model.fit(X_train, y_train)

/Applications/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  Index(['Area', 'Production', 'temp', 'Ph'], dtype='object')),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['State_Name',
                                                   'District_Name'])])),
                ('classifier', RandomForestClassifier(random_state=42))])

In [18]:
# Predict on the test set
y_pred = model.predict(X_test)

y_pred

array(['Horse-gra', 'Urad', 'Sesamum', ..., 'Gram', 'Sugarcane',
       'Sesamum'], dtype=object)

In [16]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.92

In [17]:
# Print classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

    Arecanut       1.00      0.98      0.99        41
       Bajra       0.95      0.91      0.93        98
      Banana       1.00      0.96      0.98        54
      Barley       0.91      0.85      0.88        84
        Bean       0.00      0.00      0.00         1
  Black pepp       0.95      1.00      0.97        18
   Blackgram       0.00      0.00      0.00         1
     Brinjal       0.80      0.80      0.80         5
     Cabbage       1.00      1.00      1.00         1
    Cardamom       1.00      1.00      1.00         6
    Cashewnu       1.00      1.00      1.00        16
  Castor see       0.80      0.82      0.81        49
    Chillies       0.95      0.98      0.97       127
     Coconut       1.00      0.95      0.97        39
   Coriander       1.00      0.98      0.99        60
      Cotton       0.94      0.81      0.87        78
      Cowpea       0.86      0.57      0.69        21
      Garlic       0.93      0.99      0.96        72
      Ginger       0.93      0.95      0.94        74
        Gram       0.86      0.91      0.88       118
      Grapes       1.00      0.50      0.67         2
   Groundnut       0.85      0.87      0.86       177
   Guar seed       0.92      0.90      0.91        40
   Horse-gra       0.83      0.96      0.89        78
       Jowar       0.90      0.88      0.89       130
        Jute       1.00      1.00      1.00        28
     Khesari       0.95      1.00      0.97        19
  Lady Finge       0.00      0.00      0.00         1
       Lemon       0.00      0.00      0.00         1
     Linseed       0.89      0.90      0.89        80
       Maize       0.91      0.93      0.92       254
       Mesta       0.96      0.96      0.96        28
    Moong(Gr       0.92      0.91      0.91       179
        Moth       1.00      0.94      0.97        17
       Onion       0.97      0.97      0.97       139
      Orange       1.00      0.67      0.80         3
      Papaya       1.00      0.45      0.62        11
  Peas & bea       0.92      0.91      0.91        65
   Pineapple       1.00      1.00      1.00         5
      Potato       0.97      0.99      0.98       145
        Ragi       0.86      0.84      0.85        81
        Rice       0.94      0.93      0.93       307
   Safflower       0.75      0.52      0.62        23
    Sannhamp       0.87      0.85      0.86        48
     Sesamum       0.92      0.96      0.94       190
    Soyabean       0.91      0.88      0.89        57
   Sugarcane       0.98      0.99      0.98       147
   Sunflower       0.90      0.93      0.92       117
   Sweet pot       0.90      0.98      0.94        82
     Tapioca       0.94      0.94      0.94        34
         Tea       1.00      1.00      1.00         1
      Tomato       0.75      0.75      0.75         4
    Turmeric       0.94      0.93      0.94        87
        Urad       0.93      0.97      0.95       179
      Varagu       1.00      0.33      0.50         3
       Wheat       0.95      0.94      0.95       153

    accuracy                           0.92      3878
   macro avg       0.86      0.82      0.83      3878
weighted avg       0.92      0.92      0.92      3878

/Applications/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Applications/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Applications/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [21]:
import pickle

In [23]:
pickle.dump(model,open('randomforestmodel.pkl', 'wb'))

In [40]:
model.predict(pd.DataFrame([['Tamil Nadu','NAMAKKAL',626,25,0.03994,1000.499,35,5.5]], columns=[ "State_Name","District_Name","Area","Production","prod/area","rainfall","temp","Ph"]))

array(['Arecanut'], dtype=object)